.app-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.header {
  background-color: #d3d3d3;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.main-content {
  flex: 1;
  background-color: white;
  padding: 1rem;
}

.navbar {
  background-color: #d3d3d3;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
}

.navbar .icon {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.navbar .home-icon {
  background-color: #b3b3b3;
  border-radius: 50%;
  padding: 0.5rem;
}

#map {
  height: 100%;
  width: 100%;
}

.leaflet-container {
  height: 100%;
}
